body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif, Arial;
    font-size: 12pt;
    color: #333333;
    background-color: #ffffff;
}

/* REUSABLE STUFF */
.mainTitle {
    color: #777777;
    font-size: 30px;
    padding-bottom: 10px;
}
.subTitle {
    text-decoration: underline;
    margin: 10px 0 5px 0;
    font-weight: bold;
}
.hidden { display: none; }
.noSelect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.clearFloat { clear: both; }

/* APP FRAMEWORK ITEMS */
div#app {}

/* HEADER PART */
div#header {
    background-color: #f6f5f6;
    width: 100%;
    height: 73px;
    border-bottom: solid 1px #d6d6d6;
}

div#topBar {
    width: 100%;
    height: 6px;
    background: url(../img/headerbar.png) repeat;
}

div#logo {
    width: 71px;
    height: 70px;
    background: url(../img/tt_logo.png) no-repeat;
    position: absolute;
    top: 1px;
    left: 12px;
}

div#topMenu {
    position: absolute;
    height: 50px;
    top: 14px;
    left: 10px;
}

div.topMenuItem {
    font-size: 30px;
    float: left;
    line-height: 50px;
    margin-left: 60px;
    color: #4e90c7;
    cursor: pointer;
}
div.topMenuItem:hover { color: #ff7f68; }

div#headerUser {
    position: absolute;
    top: 23px;
    right: 70px;
    background: #c0c0c0;
    width: 25px;
    height: 27px;
    background: url(../img/user_blue.png) no-repeat;
    cursor: pointer;
}
div#headerUser:hover { background: url(../img/user_red.png) no-repeat; }
div#headerUserEmail {
    position: absolute;
    top: 53px;
    right: 70px;
    font-family: Tahoma, Arial;
    font-size: 9pt;
    text-align: center;
    color: #FFA940;
}

/* USER POPUP PART */
div#userPopup {
    width: 155px;
    background: #ffffff;
    position: absolute;
    top: 74px;
    right: 30px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    z-index:101;
}

div.userPopupItem {
    cursor: pointer;
    padding: 18px 14px 0px 0px;
    color: #4E90C7;
    text-align: right;
    font-size: 13pt;
}
div.userPopupItem:hover { color: #ff7f68; }

/* CONTENT PART */
div#content {
    margin: 15px 10px;
    margin-bottom: 50px;
}

div.page {
    margin: 0 60px 0 60px;
    display: none;
    position: relative;
}

/* FOOTER PART */
div#footer {
    width: 100%;
    height: 28px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #F6F5F6;
    border-top: solid 1px #D6D6D6;
}

div.footMenuItem {
    line-height: 28px;
    font-size: 10pt;
    float: left;
    margin-left: 40px;
    color: #FFA940;
}

/* FORM ELEMENTS */
div.button {
    position: relative;
    width: 200px;
    color: #ffffff;
    background: #4E90C7;
    font-size: 13pt;
    height: 46px;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
div.button:hover { color: #FFA940; }
div.button:hover[working="yes"] { color: #fff; }
div.button[working="yes"]::after {
    content: '';
    position: absolute;
    top: 11px;
    right: 10px;
    width: 26px;
    height: 26px;
    background: url(../img/butspinner.gif) no-repeat;
}

input.formField[type="text"], input.formField[type="password"], textarea.formField {
    width: 400px;
    height: 32px;
    border: solid 2px #4E90C7;
    border-radius: 6px;
    font-size: 12pt;
    outline: 0;
    padding: 0 8px;
}

/* Message box */
#message {
    margin: 0px; overflow: hidden; height: 30px; background: #ffffff; text-align: center; line-height: 30px; z-index: 102; position: fixed; top: 0px; left: 45px; font-size: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4); -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4); display:none;
    width: 100%; width: calc(100% - 90px); border-top: 0; border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px;
    transition: top 0.5s; -moz-transition: top 0.5s; -webkit-transition: top 0.5s; -o-transition: top 0.5s;
}
#message div.txt { color: #4E90C7; font-size: 13pt; }
#message div.close { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; cursor: pointer; }
#message div.close:before {
    display: inline-block; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
    width: 25px; height: 5px; position: absolute; content: ""; top: 12px; left: 6px; border: none;
    -o-text-overflow: clip; text-overflow: clip; background: #d6d6d6; -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg);
    transition: background-color .5s; -moz-transition: background-color .5s; -webkit-transition: background-color .5s; -o-transition: background-color .5s;
}
#message div.close:after {
     display: inline-block; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
     width: 25px; height: 5px; position: absolute; content: ""; top: 12px; left: 6px; border: none;
     -o-text-overflow: clip; text-overflow: clip; background: #d6d6d6; -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg);
     transition: background-color .5s; -moz-transition: background-color .5s; -webkit-transition: background-color .5s; -o-transition: background-color .5s;
}

#spinner {
    position: fixed; z-index: 101; width: 100%; height: 40px; margin-top: -20px; top: 50%; text-shadow: 2px 2px 2px #000;
    left: 0; color: #fff; font-size: 20px; font-family: Tahoma, Arial; text-align: center; font-weight: bold;
}
