div.calendar {
  border-radius: 5px; -webkit-border-radius: 5px;  -moz-border-radius: 5px;  -ms-border-radius: 5px;  -o-border-radius: 5px;
  width: 212px;
  border: 1px solid #D6D6D6;
  z-index: 999;
  margin: 15px 0 0 -108px;
}
div.calendar ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
div.calendar ul.week {
  border-bottom: solid 1px #D6D6D6;
  height: 24px;
}

div.calendar ul li {
  float: left;
  width: 30px;
  list-style: none;
}
div.calendar ul.dates li {
  cursor: pointer;
  border: solid 1px #DEDDDD;
  width: 24px;
  border-radius: 12px;
  height: 24px;
  line-height: 26px;
  margin: 2px;
  color: #777777;
}
div.calendar ul.dates li:hover {
  background: #A9CF55;
}
div.calendar ul.week li {
  margin-bottom: 5px;
  font-weight: bold;
}

div.calendar .caption {
  text-align: center;
  font-weight: bolder;
  color: #777777;
  background: #F6F5F6;
  margin: 13px 0 9px 0;
  border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;
  border-bottom: solid 1px #D6D6D6;
  padding: 0 5px 5px 5px;
}
div.calendar .caption a {
  cursor: pointer;
}
div.calendar .caption a.previous {
  float: left;
}
div.calendar .caption a.next {
  float: right;
}
div.calendar .caption h4 {
  display: inline;
}
div.calendar div.close {
	margin-top: -13px;
  line-height: 22px;
  font-family: arial;
  cursor: pointer;
	color: grey;
	font-size: 10pt;
  font-weight: normal;
  text-align: center;
}
