div#reportsHeader {
    position: relative;
    height: 50px;
    border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;
    background-color: #4E90C7;
}
div#reportsTotalText {
    float: left;
    line-height: 50px;
    font-size: 18pt;
    color: #fff;
    margin: 0 0 0 20px;
}
div#reportsTotalHours {
    float: right;
    line-height: 50px;
    font-size: 18pt;
    color: #fff;
    margin: 0 55px 0 0;
}
div#reportsTotalHours::after {
    content: 'hours';
    position: absolute;
    font-size: 9pt;
    font-family: Tahoma;
    margin: 3px 0 0 5px;
}
div#reportsFilters {
    position: relative;
    height: 56px;
    border: solid 1px #4E90C7;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    padding-left: 10px;
    margin-bottom: 10px;
}
div.reportsFilter {
    clear: both;
}
div.reportsFilter div.rfi {
    float: left;
    margin: 6px 0px 0 10px;
}
div.reportsFilter div.reportsFilterTxt {
    width: 90px;
    color: #777777;
}
div.reportsFilterDate {
    width: 116px;
}
div.reportsFilter div.reportsFilterCal {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    background: url(../img/calendar_small.png) no-repeat;
    cursor: pointer;
}
div#reportsExport {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 147px;
    height: 24px;
    line-height: 24px;
    font-size: 10pt;
    border-radius: 6px 0 4px 0;
}
div#reportsExport:hover { color: #FFA940; }

div#reportsList {
    margin-bottom: 30px;
}
div.reportsItem {
    height: 50px;
    width: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #A9CF55;
    margin-bottom: 1px;
    cursor: pointer;
    transition: margin 0.3s; -moz-transition: margin 0.3s; -webkit-transition: margin 0.3s;
}
div.reportsItem[hourshortage="yes"] { background-color: #FF7F68; }
div.reportsItem[hourshortage="weekend"] { background-color: #D6D6D6; }
div.reportsItem:hover { margin-left: 3px; }

div.reportsIDate {
    float: left;
    line-height: 50px;
    font-size: 16pt;
    color: #fff;
    margin: 0 0 0 20px;
}
div.reportsIHours {
    float: right;
    line-height: 50px;
    font-size: 16pt;
    color: #fff;
    margin: 0 58px 0 0;
}
div.reportsIHours::after {
    content: 'hours';
    position: absolute;
    font-size: 9pt;
    font-family: Tahoma;
    margin: 3px 0 0 5px;
}

div.reportsNoResults {
    text-align: center;
    color: #FFFFFF;
    background: #FF7F68;
    font-size: 14pt;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    border-radius: 6px;
}

