div#usersHeader {
    height: 50px;
    background: #A9CF55;
    position: relative;
    border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;
    background-color: #4E90C7;
    overflow: hidden;
    padding: 0 23px;
}

div.usersHeaderCol {
    float: left;
    width: 80px;
    line-height: 50px;
    font-size: 10pt;
    color: #fff;
    margin: 0px 5px;
    text-align: center;
    font-weight: bold;
}
div.usersHEmail { width: calc(100% - 570px); }
div.usersHRole { width: 100px; }

div#usersList {
    position: relative;
    min-height: 30px;
    border: solid 1px #4E90C7;
    margin-bottom: 10px;
    border-top: 0;
    border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px;
}
div#usersList[working="yes"]::after {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 30px;
    left: 50%;
    margin-left: -32px;
    background: url(../img/bigspinner.gif);
    content: '';
}

div.usersItem {
    position: relative;
    border-bottom: solid 1px #d6d6d6;
    height: 46px;
}
div.usersItem:last-child { border-bottom: 0; }
div.usersItem::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 23px;
    height: 1px;
    background: #ffffff;
}
div.usersItem:first-child::after {
    height: 0; width: 0;
}

div.usersItemCol {
    float: left;
    width: 80px;
    margin: 0px 5px;
    font-size: 10pt;
    text-align: center;
    line-height: 46px;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
}
div.usersItemEmail {
    width: calc(100% - 620px);
    margin-left: 33px;
}
div.usersItemRole { width: 100px; }
div.usersItemImpersonate {  color: #4E90C7;  cursor: pointer; }
div.usersItemImpersonate:hover {
    color: #FFA940;
}
div.usersItemEdit {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top:-23px;
    width: 23px;
    height: 23px;
    background-image: url(../img/edit.png);
    background-color: #d6d6d6;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.usersItemEdit:hover { background-image: url(../img/edit_active.png); }
div.usersItemDelete {
    position: absolute;
    top: 50%;
    left: 0;
    width: 23px;
    height: 23px;
    background-color: #d6d6d6;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
div.usersItem:last-child div.usersItemDelete { border-radius: 0 0 0 5px; }
div.usersItemDelete:hover { background-image: url(../img/delete_active.png); }

input.usersItemFld {
    border: none;
    outline: 0;
    height: 28px;
    background: #F6F5F6;
    text-align:center;
}
input.usersItemEmail { width: calc(100% - 10px); }
input.usersItemPassword { width: 100%; }
select.usersItemFld.usersItemRole {
    width: 100%;
}

div.usersItemBut {
    position: absolute;
    top: 11px;
    width: 46px;
    height: 24px;
    line-height: 24px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    background: #D6D6D6;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: none;
}
div.usersItemBut:hover { color: #FFA940; }
div.usersItemSave { right: -11px; }
div.usersItem:last-child div.usersItemSave { border-radius: 0 5px 0 0; }
div.usersItemUndo { left: -11px; }
div.usersItem:last-child div.usersItemUndo { border-radius: 0px 0px 5px 0px; }

div#usersAddNew {
    width: 40px;
    height: 40px;
    background: #4E90C7;
    color: #ffffff;
    border-radius: 20px;
    line-height: 42px;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    cursor: pointer;
    float: right;
    margin-bottom: 30px;
}
div#addNew:hover { color: #FFA940; }