table.prefsTable {
    margin-bottom: 30px;
}
table.prefsTable td {
    text-align: center;
    padding-right: 20px;
}
input#prefsHours {
    text-align: center;
    width: 180px;
}
div#prefsSave {
    margin-top: 20px;
}