input#signInUserField { margin-bottom: 40px; }
div#signInUserFieldC::before {
    width: 28px;
    height: 28px;
    content: '';
    position: absolute;
    background: url(../img/login_user.png) no-repeat;
    margin: 9px 0 0 9px;
}
div#signInUserFieldC[recover="yes"]::before { background: url(../img/login_pass.png) no-repeat; }

input#signInPasswordField { margin-bottom: 20px; }
div#signInPasswordFieldC { position: relative; }
div#signInPasswordFieldC::before {
    width: 24px;
    height: 28px;
    content: '';
    position: absolute;
    background: url(../img/login_pass.png) no-repeat;
    margin: 9px 0 0 11px;
}

div#signInRecoverLink {
    position: absolute;
    top: 28px;
    left: 412px;
    color: #4E90C7;
    font-size: 10pt;
    font-family: Tahoma, Arial;
    text-align: right;
    width: 70px;
    cursor: pointer;
}
div#signInForgot:hover { color: #FFA940; }

div#signInButtons { width: 486px; position: relative; }
div#signInSignIn { float: left; }
div#signInRegister { float: right; }
div#signInRecover { float: right; }

input#signInUserField, input#signInPasswordField {
    height: 42px;
    padding: 0 41px;
}

div#signInRegisterLink {
    float: right;
    margin: 15px;
    color: #4E90C7;
    cursor: pointer;
}

div#signInSignInLink {
    float: left;
    margin: 15px;
    color: #4E90C7;
    cursor: pointer;
}
