div#trackDateHeader {
		display: table;
		width: 100%;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
    background-color: #4E90C7;
}

div#trackYesterday {
    display: table-cell;
    width: 40px;
    margin: 5px 0 0 5px;
    background: url(../img/arrow_left.png) no-repeat;
		background-position: 0 6px;
    cursor: pointer;
}
div#trackDate {
		display: table-cell;
    line-height: 50px;
    font-size: 18pt;
    color: #ffffff;
    text-align: center;
}
div#trackDate::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px 0 0 -220px;
		left: 50%;
    background: url(../img/calendar_icon.png) no-repeat;
    cursor: pointer;
}
span#trackDateText { cursor: pointer; }
div#trackTomorrow {
    display: table-cell;
    width: 40px;
    margin: 5px 5px 0 0;
    background: url(../img/arrow_right.png) no-repeat;
		background-position: 0 6px;
    cursor: pointer;
}

div#trackTotals {
    position: relative;
    height: 50px;
    border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;
    background-color: #A9CF55;
    overflow: hidden;
}
div#pageTracker[hourshortage="yes"] div#trackTotals { background-color: #FF7F68; }
div#pageTracker[hourshortage="weekend"] div#trackTotals { background-color: #d6d6d6; }
div#trackTotalText {
    float: left;
    line-height: 50px;
    font-size: 18pt;
    color: #fff;
    margin: 0 0 0 20px;
}
div#trackTotalHours {
    float: right;
    line-height: 50px;
    font-size: 18pt;
    color: #fff;
    margin: 0 55px 0 0;
}
div#trackTotalHours::after {
    content: 'hours';
    position: absolute;
    font-size: 9pt;
    font-family: Tahoma;
    margin: 3px 0 0 5px;
}


div#trackList {
    position: relative;
    min-height: 30px;
    border: solid 1px #A9CF55;
    margin-bottom: 10px;
    border-top: 0;
    border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px;
}
div#pageTracker[hourshortage="yes"] div#trackList { border: solid 1px #FF7F68; }
div#pageTracker[hourshortage="weekend"] div#trackList { border: solid 1px #d6d6d6; }

div#trackList[working="yes"]::after {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 30px;
    left: 50%;
    margin-left: -32px;
    background: url(../img/bigspinner.gif);
    content: '';
}
div.trackItem {
    position: relative;
    padding: 8px 0px;
    border-bottom: solid 1px #d6d6d6;
}
div.trackItem[editing="yes"] { height: 56px; }
div.trackItem:last-child { border-bottom: 0; }
div.trackItem::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 23px;
    height: 1px;
    background: #ffffff;
}
div.trackItem:first-child::after {
    height: 0; width: 0;
}
div.trackItemDescr {
    font-size: 10pt;
    padding-left: 30px;
    width: calc(100% - 175px);
    min-height: 30px;
    overflow: hidden;
    text-align: justify;
    color: #666666;
}
div.trackItemHours {
    position: absolute;
    top: 50%;
    right: 55px;
    font-size: 18pt;
    line-height: 30px;
    color: #666666;
    height: 30px;
    margin-top: -15px;
}
div.trackItem[editing="yes"] div.trackItemHours {
    height: 49px;
    margin-top: -28px;
}
div.trackItemEdit {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top:-23px;
    width: 23px;
    height: 23px;
    background-image: url(../img/edit.png);
    background-color: #d6d6d6;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.trackItemEdit:hover { background-image: url(../img/edit_active.png); }
div.trackItemDelete {
    position: absolute;
    top: 50%;
    left: 0;
    width: 23px;
    height: 23px;
    background-color: #d6d6d6;
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
div.trackItem:last-child div.trackItemDelete { border-radius: 0 0 0 5px; }
div.trackItemDelete:hover { background-image: url(../img/delete_active.png); }

textarea.trackItemDescr {
		width: 90%;
    width: calc(100% - 10px);
    height: 49px;
    border: 0;
    resize: none;
    outline: 0;
    font-family: Sans-serif;
    background: #F6F5F6;
    color: #666666;
    font-size: 10pt;
		overflow: auto;
}
input.trackItemHours {
    width: 66px;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: #F6F5F6;
    color: #666666;
    font-size: 18pt;
    font-family: Sans-serif;
    text-align: center;
}
div.trackItemBut {
    position: absolute;
    top: 24px;
    width: 72px;
    height: 24px;
    line-height: 24px;
    background: #D6D6D6;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: none;
}
div.trackItemBut:hover { color: #FFA940; }
div.trackItemSave {
    right: -24px;
    transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg);
}
div.trackItemUndo {
    left: -24px;
    transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg);
}
div.trackItem:last-child div.trackItemSave {
    border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0;
}
div.trackItem:last-child div.trackItemUndo {
    border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0;
}


div#trackAddNew {
    width: 40px;
    height: 40px;
    background: #4E90C7;
    color: #ffffff;
    border-radius: 20px;
    line-height: 42px;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    cursor: pointer;
    float: right;
    margin-bottom: 30px;
}
div#addNew:hover { color: #FFA940; }
